/* BOOTSTRAP PORTFOLIO */

body {
	background-image: url('../images/mars-stock.jpg');
	background-size: cover;
	background-attachment: fixed;

	color: black;
	font-size: 1.1em;
	font-weight: 300;
	font-family: 'Raleway';
}

nav,
main,
section,
footer {
	background-color: white;
	border: solid 1px black;
}

a,
a:link,
a:visited,
a:focus {
	color: #e18344;
	font-weight: 400;
}

a:hover {
	color: #ae475c;
	text-decoration: none;
}

nav a,
nav a:link,
nav a:visited,
nav a:focus {
	/*color: #e18344;*/
	font-size: 1.3em;
	font-family: 'Orbitron';
	font-weight: bold;
}

nav a:hover {
	/*color: #ae475c;*/
}


h1,
h2 {
	color: #333;
	font-family: 'Orbitron';
}

.img-border {
	border: solid 1px black;
}




/*Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
	.img-bio {
		margin-left: 1em;
		width: 45%;
		display: block;
		float: right;
	}
}

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.img-bio {
		margin-left: 1em;
		margin-bottom: 1em;
		width: 155px;
		position: absolute;
		top: 1.5em;
		right: 1.6em;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}






.img-top-left {
	margin-top: 0.3em;
	margin-right: 1em;
	margin-bottom: 1em;
	width: 40%;
	float: left;
}