/* BOOTSTRAP PORTFOLIO */

* {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

body {
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-attachment: fixed;

	color: black;
	font-size: 1.1em;
	font-weight: 300;
	font-family: 'Raleway';
}

header {
	color: white;
  	text-shadow:
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    text-align: right;
	font-size: 30px;
	font-family: 'Orbitron';
	line-height: 0.5em;
}

header a,
header a:link,
header a:visited,
header a:focus {
	color: white;
	text-decoration: none;
	transition: color 0.7s ease;
}

header a:hover {
	color: #a3c3c7;
	text-decoration: none;
}

nav,
main,
.sidebar-row,
section {
	background-color: rgba(255,255,255,0.85);
	border: solid 1px black;
	zoom: 1;
	filter: alpha(opacity=90);
}

a,
a:link,
a:visited,
a:focus {
	color: #015865;
	font-weight: 400;
	transition: color 0.7s ease;
}

a:hover {
	color: #3a868c;
	text-decoration: none;
}

nav {
	font-size: 1em;
	line-height: 2.3em;
}

nav a,
nav a:link,
nav a:visited,
nav a:focus {
	font-family: 'Orbitron';
	font-weight: bold;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: 'Orbitron';
}


h3,
h4,
h5,
h6 {
	margin-bottom: 0.5em;
}


.sidebar-wrap {
	padding: 0;
}

.sidebar-row {
	margin-top: 1em;
}

.sidebar-row ul {
	margin-bottom: 1.5em;
}

footer {
	color: white;
	text-shadow: 0 0 3px #000000;
}



/*** Content Styles ****/


.display-1 {
	font-size: 70px;
}

.display-4 {
	font-size: 2.5em;
}

.img-bio {
	margin: 0 auto 1em;
/*	width: 60%;*/
	border: solid 1px black;
}

.figure {	
	width: 100%;
}

.img-figure {
	width: 100%;
	border: solid 1px black;
}

.photo-credit {
	color: #666;
	font-size: 0.7em;
	text-align: right;
}

.figure-caption {
	color: #8c8c8c;
	font-weight: 400;
}

.social img {
	width: 40px;
}

.social img:hover {
  animation: rock-and-roll 1s 1;
}

@keyframes rock-and-roll {
  0% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0);
  }
}


.portfolio li {
	margin-bottom: 1em;
  max-width: 500px;
  position: relative;
  border: solid 1px black;
  transition: opacity 0.5s ease;
}

.portfolio li:hover {
  opacity: 0.5;
}

.portfolio li img {
  margin-bottom: 0;
  width: 100%;
}

.portfolio .figcaption {
  margin-bottom: 2em;
  padding: 2% 1em;
  width: 100%;
  max-width: 500px;
  position: absolute;
  bottom: 1%;
  background-color: #3a868c;
  color: white;
  opacity: 0.8;
}


form input,
form textarea {
  margin-bottom: 1em;
  padding: 0.2em;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1.3em;
}

form textarea {
  min-height: 150px;
}

.form-button {
  min-width: 100px;
  min-height: 50px;
  background-color: #3a868c;
  border: none;
  color: #fff;
  font-size: 1em;
  transition: background-color 0.7s ease;
}

.form-button:hover {
	background-color: #015865;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 0.8em;
  font-style: italic;
}

::-moz-placeholder { /* Firefox 19+ */
  font-size: 0.8em;
  font-style: italic;
}

:-ms-input-placeholder { /* IE 10+ */
  font-size: 0.8em;
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 0.8em;
  font-style: italic;
}





/*Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {

	.display-1 {
		font-size: 90px;
	}

	.display-4 {
		font-size: 3em;
	}

	.img-bio {
		margin-top: 0;
		margin-left: 1em;
		margin-bottom: -90px;
		width: 40%;
		display: block;
		float: right;
		position: relative;
		top: -100px;
	}

	.figure {
		margin-top: 0.3em;
		margin-bottom: 1em;
		width: 40%;
		display: inline-block;
	}

	.figure-right {
		margin-left: 1em;
		float: right;
	}

	.figure-left {
		margin-right: 1em;
		float: left;
	}

}

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {



}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

	header {
		font-size: 50px;
	}

	.sidebar-row {
		margin: 0 0 1em 1em;
	}


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}






/*.img-top-left {
	margin-top: 0.3em;
	margin-right: 1em;
	margin-bottom: 1em;
	width: 40%;
	float: left;
}*/